@import 'theme';

:host {
    
    .wrapper {
        
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        
        background: $window-background;
        
        display: flex;
        flex-direction: column;
        
        app-header {
            
            flex: 0 1 50px;
            
        }
        
        app-chat-window {
            
            flex: 1;
            
        }
        
        app-footer {
            
            flex: 0 1 30px;
            
        }
        
    }
    
}
