@import 'theme';

:host {
    
    .wrapper {
        
        display: flex;
        flex-direction: column;
        height: 100%;
        
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        border-color: $chat-window-border;
        
        background: $chat-window-background;
        
        
        .title {
            
            flex: 0 1 30px;
            
            display: flex;
            align-items: center;
            padding: 5px;
            
            background: $chat-window-title-background;
            color: $chat-window-title-color;
            
        }
        
        .containers {
            
            display: flex;
            flex: 1;
            
            app-chat-window-content {
                
                flex: 1;
                
                background: $chat-window-content-background;
                
            }
            
            app-chat-window-users-list {
                
                flex: 0 1 200px;
                
                background: $chat-window-users-list-background;
                
            }
            
        }
        
        app-chat-window-input {
            
            flex: 0 1 50px;
            
            background: $chat-window-input-background;
            
        }
        
    }
    
}
