$window-background: #000;
$header-background: #111;
$header-icon-color: #666;

$chat-window-background: #000;
$chat-window-border: #333;
$chat-window-title-background: #222;
$chat-window-users-list-background: #333;
$chat-window-content-background: #111;
$chat-window-input-background: #222;
